section{
    background-image: url(../image/background-services.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 40px 60px;
    font-family: sans-serif;
    text-align: center;
    }
    h1{
      text-decoration: underline;
    }
    #seconnecter-container{
      background-color: #F5F5F5;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 60px;
      padding: 10px;
      border: black solid 2px;
      border-radius: 25px;
    }
    .buttons{
      padding-top: 25px;
      text-align: center;
    }
    .text{
      padding-right: 10%;
      padding-left: 10%;
      
    }
    #nvcompte{
      text-align: center;
      margin-top: 10px;
      padding-top: 1px;
      height: 34px;
    }
    #logo{
      padding-top: 10px;
    }
    #prenom{
        margin-left: auto;
        margin-right: 15px;
    }