
#main{
    margin-top: 70px;
    margin-left: 40px;
}
#image{
    margin-top: 50px;
    margin-left: 40px;
}
section{
    width: 100%;
}
#card{
    padding-left: 10%;
    padding-right: 10%;
}