<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="icon" href="image/logos.png" type="image/x-icon">
        <title>ELFID Clinique</title>
    </head>
    <body>
            {include file='employe_header.html'}
            <div id="card" style="text-align: center;margin-top: 10px;padding-bottom: 20px;">
                    <div class="card-group" style="margin-top: 50px;padding-left: 10%;padding-right: 10%;">
                        <div class="card">
                          <img class="card-img-top" src="image/consulte.png" height="400" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Nos médecins</h5>
                            <p class="card-text">Ajouter, modifier, supprimer et voir les données saisie pour chaque médecin.</p>
                            <p class="card-text">Pour chaque médecin vous pourriez lui réserver les rendez vous que vous souhaitez (il sera automatiquement proposer lors que vous saisissez les infomations concernant le rendez-vous) </p>
                            <a href="employe.php" class="btn btn-primary">Savoir plus</a>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="image/time.jpg" height="400" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Rendez-vous</h5>
                            <p class="card-text">Vous pouver organniser vos rendez-vous pour pouvoir à un nombre précis de vos clients de reserver leurs places a distance en payant par paypal.</p>
                            <p class="card-text">1- cliquer sur le rendez-vous souhaiter pour savoir qui à déja reserver sa place.</p>
                            <p class="card-text">2- selectionner le crénos souhaité pour ajouter un rendez-vous.</p>
                            <a href="meeting.php" class="btn btn-primary">Savoir plus</a>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="image/chirurgie.png" height="400" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Utilisateurs</h5>
                            <p class="card-text">Manipulez les comptes clients créer sur votre site.</p>
                            <p class="card-text">Visonner ou supprimer</p>
                            <a href="users.php" class="btn btn-primary">Savoir plus</a>
                          </div>
                        </div>
                      </div>
                    
    
                </div>
                 {include file='footer.html'} 
              
              
            
            <script src="js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.js"></script>
    </body>

</html>