<html>
                <footer style="bottom: 0;left: 0;width:100%;padding-top:50px;height: 50px;background-color: white;" class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; 2019-2020 EL FID Faissal</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="http://www.fstg-marrakech.ac.ma/">Fstg</a></li>
                      <li class="list-inline-item"><a href="#">IRISI</a></li>
                      <li class="list-inline-item"><a href="https://www.uca.ma/fstgm/fr/page/presentations">UCA</a></li>
                    </ul>
                  </footer>
                <!--
            {debug}-->
</html>