
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link href="style/seconnecter.css" rel="Stylesheet" type="text/css">
    <title>Se connecter</title>

  </head>
<!--
  <form id="myForm" action="login.php" method="POST" style="background-color: white;">
    username: <input type="text" name="username" id="username"/><br />
    password: <input type="password" name="password" password/><br />
    <button id="submit">Login</button>
    </form>
     
    <div id="ack"></div>
-->
  <body>
    <div id="seconnecter-container">
    <form id="myForm" action="login.php" method="POST" class="form-signin" >
      <div class="text-center mb-4">
        <a href="index.php"><img class="mb-4" id="logo" src="image/logos.png" alt="" ></a>
        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <p>Connecter vous pour profiter de nos services online !!</p>
        <div id="resultat"></div>
      </div>
      
      <div class="text form-label-group">
        <label for="email">Email address</label>
        <input type="email" name="username" id="username" class="form-control" placeholder="Email address" required autofocus>
        
      </div>

      <div class="text form-label-group">
        <label for="inputPassword">mot de passe :</label>
        <input type="password" name="password"  class="form-control" placeholder="Password" required>
        
      </div>
      <div id="ack" style="color: red;" class="text-center"></div>
      <div class="text-center" style="padding-top: 15px;text-align: center;">
        <button id="submit" class="btn btn-lg btn-primary">Se connecter</button><br>
      </div>
      </form>
        <form action="sinscrire.php" class="text-center">
        <button id="nvcompte" class="btn btn-lg btn-dark">Créer un nouveau compte</button>
      </form>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2019 ELFID Faissal</p>
      </div>

<script src="js/jquery.js"></script>
<script src="js/seconnecter.js"></script>

  </body>
</html>
