<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="icon" href="image/logos.png" type="image/x-icon">
        <title>ELFID Clinique</title>
    </head>
    <body>
            {include file='employe_header.html'}
            <div style="text-align: center;margin-top: 50px;margin-bottom: 80px;">
                <h3 style="text-decoration: underline;">Les comptes utilisateurs</h3>
                <h4>les utilisateurs qui sont inscrit dans votre compte</h4>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nom complet</th>
                          <th scope="col">Email</th>
                          <th scope="col">Date de naissance</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {foreach $users as $emp}
                        <tr>
                          <th scope="row">{$emp.id}</th>
                          <td>{$emp.nom} {$emp.prenom}</td>
                          <td>{$emp.email}</td>
                          <td>{$emp.dateNaissance}</td>
                          <td>
                            <button type="button" class="btn btn-primary plusUser" id="p{$emp.id}" data_id="{$emp.id}"><i class="far fa-eye"></i></button>
                          <button type="button" class="btn btn-danger deleteUser" id="d{$emp.id}" data_id="{$emp.id}"><i class="far fa-trash-alt"></i></button>
                          </td>
                        </tr>
                        {/foreach}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {include file='footer.html'}
            <div class="modal fade" id="plusInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Users</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <h2 style="text-decoration: underline;">Plus d'information</h2>
                      <div class="table-responsive">
                        <table id="table" class="table table-bordered">
                          <tr>
                              <td width="30%">
                                <label>id</label></td>
                                <td id="td_id" width="70%"></td>
                          </tr>
                          <tr>
                            <td width="30%">
                              <label>Nom complet</label></td>
                              <td id="td_med" width="70%"></td>
                        </tr>
                          <tr>
                              <td width="30%">
                                <label>Email </label></td>
                                <td id="td_email" width="70%"></td>
                          </tr>
                          <tr>
                              <td width="30%">
                                <label>Date de naissance : </label></td>
                                <td id="td_naissance" width="70%"></td>
                          </tr>
                          
                        </thead>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <script src="js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.js"></script>
            <script src="js/users.js"></script>
    </body>

</html>